@media screen and (min-width: 768px) {

  #category {
    width: 200px;
    height: 100vh;
    top: 0;
  }

  #map {
    width: max(calc(70vw - 200px), calc(100vw - 700px));
    left: 200px;
    height: 100vh;
    border: 0;
    z-index: 0;
  }

  #narration {
    width: 30vw;
    height: 100vw;
    max-width: 500px;
    top: 0;
  }

  #title {
    width: 30vw;
    max-width: 500px;
    top: 0;
  }

  .leaflet-control-attribution {
    visibility: visible;
  }

}